<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatBot </title>
</head>

<body>
 <nav style="width: 50%;">
     <a class="  navbar-brand" href="#" style="margin-left: 0px; margin-top: 0px; ">
         <img style="max-height:200px; width:100%;margin-left: 350px;" src="{{ url_for('static',filename = 'image/PIET logo with tagline.jpg')  }}"
             class="img-responsive">
         <div style="background-color: rgb(183, 4, 4);height:30px;width: 1600px;"><a href="/index"
                 style="color:rgb(249, 246, 246); margin-right: 10px; font-family: 'Times New Roman', Times, serif; font-size: 20px; margin-left:20px;">HOME</a>
         </div>


         </div>

     </a>

 </nav>
<table >
    <tr >
        <th >
    <div>
        <img src="{{ url_for('static',filename = 'image/chatbot.PNG')  }}" style="margin-top:100px; margin-left: 150px;">
    </div>
</th>
<th>
   
    <div style="color:black; margin-top: 200px;">
        
	     <h2 style="font-size:60px;">Your ChatBot</h2>
		<br>
		<h3>Hi! getting bored, Lets talk a little. .</h3>
        
	    <form method= "POST">
		
            <input type="text" name="message" placeholder="Message" required="required" style="width:280px">
            <br>
 	    <br>
	    <input type= "submit" value = "Submit" >
        <p >{{ response1 }}<p><br>
	    </form>
            <br>
    </div>
</th>
</tr>
</table>
	
<body>